/* Language: CSS */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root{
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #535353;
    --first-color-light: #E2E5F6;
    --white-color: #ffffff;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100                                                      
}*,
::before,::after{box-sizing: border-box}

body{
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a{text-decoration: none}


/* Main Content */
#i--container--mainContent{
    padding-top: 1rem;
    margin-top: 1rem
}

/* Profile Section */
#i--line--profile{
    background: #2055B5;
    height: .5rem;
    width: 9rem
}

/* Account Section */
#i--line--account{
    background: #2055B5;
    height: .5rem;
    width: 10rem
}

#i--button--up{
    width: 100%
}

/* Cards */
.card {
    border-color: #0C2A73;
    border-radius: .5rem;
    border-width: .3rem;
}

#i--line--card{
    background: #2055B5;
    height: 2px;
    width: 8.5rem
}

.show{left: 0}

.body-pd{padding-left: calc(var(--nav-width) + 1rem)}

.active{color: var(--white-color)}

.active::before{
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100{height:100vh}

.profile__container {
    display: flex;
}

